<!DOCTYPE html>
<html>
    <head>
        <title>
            Upload Image
        </title>
    </head>
    <body>
        <h2>
            Upload Image
        </h2>
        <form action = "/" enctype="multipart/form-data" method = "post">
            <input name = "file" type = "file" accept = "image/*" required>
            <button type = "submit">Upload</button>
        </form>

        {% if file_info %}
            <h2>Image Uploaded Successfully!</h2>
            <p><strong>Filename:</strong>{{ file_info.filename }}</p>
            <p><strong>Contest-Type:</strong>{{ file_info.content_type }}</p>
            
            <h3>
                Preview
            </h3>
            <img src = "{{ file_info.image_url }}" alt = "Uploaded Image" width = "300px" />
            <h3>{{ prediction }}</h3>
        {% endif %}
    </body>
</html>